.user-cabinet-hesder {
    font-size: 20px;
    font-weight: bold;
}

.update {
    margin: 20px;
}

#signup-submit {
    text-decoration: none;
    outline: none;
}
.site-header{ 
 border-bottom: 1px solid #26a69a;
}

.site-title{
     font-size: 24px;
}